html,
body{
  font-size: 1rem;

}

.cadastro_body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
  background-color: var(--background_dark);
  
}

.cadastro_container {
  height: 100% !important;
  position: absolute;
  flex-direction: column;
  background: linear-gradient( 1deg , #212529, rgb(0 0 0 / 90%)); 
}


.cadastro_box {
  justify-content: space-around;
  height: 85%;
}

.cadDestaque{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--FontColorWrite);
}

.cadDestaque .ImgDestaque{
  width: 100%;
  height: 80%;
}
.ImgDestaque img{
  width: 100%;
  height: 100%;
  
}
/* 
.cadDestaque h1, p {
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
  background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;

}
 */
.cadDestaque h1{
  font-size: 1.7rem;
}
.cadDestaque p{

  margin-bottom: 1.5rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.formCadastro {
    margin: 5% 0 0 0;
}

.boxHeader h2 {
  width: 100%;
  margin-bottom: 0;
  font-size: 2rem;
  color: #fff;
}
.boxHeader small {
  width: 100%;
  color: #fff;
  font-size: 1rem;
}

.alertCadInput {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ebef06;
}

button{
  margin-top: 1rem;
}

/*
*
* Styler da sessão rodapé
*
*/
#lastFooter {
  width: 100vw;
  height: auto;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: block;
}

.footer-content p {
  width: 100%;
  text-align: center;
  font-family: var(--font-secundary);
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;

}

.social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.5rem;
}

.social-list ul {
  display: flex;
}


/*
*
* Styler da sessão rodapé-mobile
*
*/

@media(max-width: 600px) {
  .cadastro_container{
    height: auto !important;
  }
  .logoContainer {
    margin: 0 !important;
  }
  .formCadastro{
    margin: 1rem 0;
    width: 100vw;
    padding: 1rem;;
  }
  .cadastro_box{
    flex-direction: column !important;
   
  }
  .cadDestaque{
    width: 100vw;
    height: 47vh !important;
  }
  .cadDestaque h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  .cadDestaque p {
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
}

}