html,
body{
  font-size: 1rem;

}

.cadastro_body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
  background: linear-gradient(240deg,#12c392 33%,#222223 33%,#171a1d 33% );
  
}

.cadastro_container {
  height: auto !important;
  position: absolute;
  flex-direction: column;
  background: linear-gradient(240deg,#12c392 33%,#222223 33%,#171a1d 33% );
}


.cadastro_box {
  justify-content: space-around;
  height: 85%;
  
}

.cadDestaque{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--FontColorWrite);
}

.cadDestaque .ImgDestaque{
  width: 63%;
  height: 60vh;
}

.FraseDetaque{
  text-align: center;
  color: var(--FontColorWrite);  

}
.FraseDetaque h1{
  font-size: 1.7rem;
}
.FraseDetaque p{

  margin-bottom: 1.5rem;
  font-weight: 600;
}
.formCadastro {
    margin: 5% 0 0 0;
}
.boxHeader h2 {
  margin-bottom: 0;
  font-size: 2rem;
  color: #fff;
}
.boxHeader small {
  width: 100%;
  color: #fff;
  font-size: 1rem;
}

.alertCadInput {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ebef06;
}

button{
  margin-top: 1rem;
}

/*
*
* Styler da sessão rodapé
*
*/
#lastFooter {
  width: 100vw;
  height: auto;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: block;
}

.footer-content p {
  width: 100%;
  text-align: center;
  font-family: var(--font-secundary);
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;

}

.social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.5rem;
}

.social-list ul {
  display: flex;
}


/*
*
* Styler da sessão rodapé-mobile
*
*/

@media(max-width: 600px){
  .cadastro_body{
    background: linear-gradient( 1deg , #212529, rgb(0 0 0 / 90%))
  }
  .cadastro_container{
    height: auto !important;
    background:linear-gradient( 1deg , #212529, #17191b);
  }
  .logoContainer {
    height: auto;
    margin: 0 !important;
  }
  .formCadastro{
    margin:  0 auto;
    width: 90vw;
    padding: 1rem;;
  }
  .cadastro_box{
    flex-direction: column !important;
   
  }
  .cadDestaque{
    width: 100vw;
    height: 47vh !important;
    margin-bottom: 1.2rem;
  }
  .cadDestaque h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  .cadDestaque p {
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
  }
  .cadDestaque .ImgDestaque{
     height: 70%;
  }

}

@media (min-width:600px) and (max-width:961px) {
  .cadastro_body{
    background: linear-gradient( 1deg , #212529, rgb(0 0 0 / 90%))
  }
  .cadastro_container{
    height: auto !important;
    background:linear-gradient( 1deg , #212529, #17191b);
  }
  .logoContainer {
    margin: 0 !important;
  }
  .formCadastro{
  
    margin: 0 auto;
    width: 64vw;
    padding: 1rem;
  
  }
  .cadastro_box{
    flex-direction: column !important;
   
  }
  .cadDestaque{
    width: 100vw;
    height: 47vh !important;
  }
  .cadDestaque h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  .cadDestaque p {
    margin-bottom: .5rem;
    width: 100%;
    text-align: center;
  }

  .cadDestaque .ImgDestaque{
    height: 47vh;
  }

}