html,
body {
  font-size: 1rem;
}

.cadastro_body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  background-color: #fdfdfd;
}
.header {
  background-color: #fff;
  height: 10%;
}


button {
  margin-top: 1rem;
}

/*
*
* Styler da sessão rodapé
*
*/
#lastFooter {
  width: 100vw;
  height: auto;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: block;
}

.footer-content p {
  width: 100%;
  text-align: center;
  font-family: var(--font-secundary);
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;
}

.social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.5rem;
}

.social-list ul {
  display: flex;
}

