html,
body{
  font-size: 1rem;

}

.login_body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
  background-color: var(--background_dark);
}
.imgFundo{
  width: 100%;
  height: 100%;
  opacity: .7;
}
.login_container {
  position: absolute;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient( 1deg , #212529, rgb(0 0 0 / 90%));
}

.header {
  height: 12%;
  padding: 0;
  color: rgba(250, 99, 61,1);
}

.login_box {

    margin: 3rem 0 0 0;
    justify-content: space-around;
    height: 80%;
  
}

.boxHeader h2 {
  width: 100%;
  margin-bottom: 0;
  font-size: 2rem;
  color: #fff;
}
.boxHeader small {
  width: 100%;
  color: #fff;
  font-size: 1rem;
}

.alertCadInput {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ebef06;
}

button{
  margin-top: 1rem;
}



.linkPcadastro{
  width: 100% !important;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  padding: 0.7rem;
  box-sizing: border-box;
  text-decoration: none;
}
.linkPcadastro:hover{
  color: #FA643D !important;
}
.linkPcadastro span{
  color: #FA643D !important;
  text-decoration: underline !important;
  cursor: pointer;
}

/*
*
* Styler da sessão rodapé-mobile
*
*/

@media (max-width: 600px) {
  .login_body{
    height: 100% !important;
  }
  .login_container{
    height: auto !important;
  }
  .login_box{
    flex-direction: column;
    justify-content: left;
  }
  .linkPcadastro{
    font-size: .7rem;
  }
}

