.containerPetInfo {
  margin-top: 3%;
}

.pet_info_filters {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Petshop_Information{
  cursor: pointer;
  background-color: #f6f5f5;
  height: auto;
  max-height: 18rem;
  padding: 5px;
  border-radius: 5px;
}
.containerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.petshop-infos {
  vertical-align: middle;
  color: #626264;
}

.petshop-infos span.mdi-star {
  color: #facd5d;
}

.petshop-infos text {
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle;
  color: #626264;
}

.petshop-image {
  border-radius: 5px;
  margin-bottom: 20px;
}

.Filter_Container,.filter_Content{
  flex-direction: column;
  align-items: flex-starts;
  justify-content: flex-start;
}

.Filter_Container{
  width: 100%;
  height: auto;
  margin: 1rem 0 0 0;
}

.Filter_Container h3{
  color: var(--fontColorQueen) ;
  font-size: 1.2rem;
}
.Content_title{
  width: 100%;
  text-align: left;
  color: #626264;
  font-size: 1rem;
}

.filter_Content{
  width: 100%;
  height: 10rem;
  
  overflow-y: auto;
  white-space: nowrap;
  color:var(--fontColorGray) !important ;
  padding: 0 0 0 8%;
  margin: 0 0 8% 0;
}

.btn_filter{
  display: none;
  width: 5rem;
  color: var(--fontColorQueen) ;
  border: 1px solid #ced4da;
}

.containerProdutos {
  height: 100%;
}
.containerProdutos header{
  justify-content: space-between;
}

.containerProdutos header h1{
  font-size: 1.3rem !important;
  font-weight: 600;
  color: var(--fontColorGray);
}
.containerProdutos header select{
  width: 10rem;
}

/* 
*
* layout mobile
*
*/

@media (max-width: 600px) {
  .containerPetInfo {
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

  .pet_info_filters {
    width: 100%;
    height: 50vh;
    max-height: 100%;
  }
  .Petshop_Information{
    height: 100% !important;
  }
  .Filter_Container{
    display: none !important;
  }
  .btn_filter{
    display: block !important;
  }

  .containerImg {
    height: 70%;
  }

  .petshop-infos {
    height: 30%;
  }

  .containerProdutos {
    height: 100%;
    margin: 10% 0 0 0;
  }
  

  .product {
    min-width: 40%;
    margin: 1rem  !important;
    max-height: 23rem !important;
    width: 80% !important;
  }

  .product button {
    font-size: 1rem;
    padding: 1px 11px;
    border: none;
    /* height: 100%; */
    width: 100% !important;
    max-width: 100% !important;
  }
  .btnForTop{
    right: 1rem;
  }
}

@media (min-width: 575.98px) AND (max-width: 992px) {
  .container,
  .container-sm,
  .containerPetInfo {
    min-width: 100%;
  }
  .pet_info_filters{
    min-width: 22%!important;
  }
  .containerProdutos {
    width: 78% !important;
  }
  .product {
    width: 14rem !important;
  }
  .btnForTop{
    right: 1rem;
  }

}
