
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
:root{
    --fontColorQueen:#06d6a0;
    --Queen: #06d6a0;
    --fontColorOrange:#FA643D;
    --Orange:#FA643D;
    --background_dark: #212127;
    --background_dark_secondary:#26262d;
    --background_light: #ffffff;
    --FontColorWrite: #fff;
}
html,
body{
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
    letter-spacing: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
    background-color: var(--background_light);

}

body::-webkit-scrollbar {
    width: 10px
} 
  
body::-webkit-scrollbar-thumb {   
   background-color: darkgrey; 
    border-radius: 24px;
}

.btn-secondary{
    background-color: var(--Orange) !important;
}

.btn-primary,
.bg-primary
{
    background-color:  var(--Queen) !important;
}



input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='text']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
input[type='date']:disabled{
    font-size: 15px;
    background: #f6f5f5;
    border: 0.5px solid #dcdcdc;
    outline: none;
    color: #626264;
}

.btn{
    font-size: 15px;
}
.btn-secondary.rounded-circle{
    padding: 6px 14px;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:disabled,
.btn-secondary:hover{
    background-color: var(--Orange) !important;
    border-color: var(--Orange);
}

.badge{
    font-weight: 500;
     letter-spacing: 0;
}
.badge.badge-primary{
    margin-bottom: 0;
    background-color: #dddada5c;
    color: #12b342 ;
}

.badge.badge-secondary{
    background: var(--Orange);
}


.box{
    background: #fff;
    box-shadow:  0px 0px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: inline-block;
    padding: 40px;
    height: 95%;
    margin-left: 15%;
}