.containerHome{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.petshop-list-container {
  position: relative;
  height: 23%;
  margin-bottom: 0;
  background-color: var(--background_light);
}
.subTitle h5 {
  color: #6c757d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  padding: 5px;
}
.petshop-list {
  overflow-x: auto;
  white-space: nowrap; /*rolagem horizontal*/
  width: 100%;
}
.petshop-list::-webkit-scrollbar {
  width: 10px;
}

.petshop-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 24px;
}

/* 
*
* layout mobile
*/
@media (max-width: 600px) {
}
