.section-title {
  font-weight: 600;
  padding-bottom: 5px;
  margin-bottom: 2%;
  display: inline-block;
  border-bottom: 2px solid var(--FontColorWrite);
}

.h3Price {
  font-size: 1.5rem;
  font-weight: 600;
}
.boxsidebar {
  /* max-height: 83%; */
  height: 70vh;
}
.boxsidebarItem {
  height: 100%;
  overflow-y: auto;
}

/*
*
* Styler da mobile- phones- 
*
*/

@media (max-width: 600px) {
  #socolaCheckout {
    display: none;
  }
  .checkoutForm {
    width: 100%;
  }

  #MyAccountMobile {
    transform: translate(7px, 72px) !important;
    min-width: 16rem;
  }
  #MyAccountMobile li {
    text-align: center;
  }
}

/*
*
* Styler da mobile- tablet- 
*
*/

@media (min-width: 600px) and (max-width: 961px) {
}
