.section-title{
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 2%;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
}

.h3Price{
    font-size: 1.5rem;
    font-weight: 600;
}
.boxsidebar{
    max-height: 53%;
    
}
.boxsidebarItem{
    height: 100%;
    overflow-y: auto;
}