.header-global {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
}
.ContainerUserAndCart{
  align-items: center;
}

.menuMobile{
  display: none;
  color: var(--primary);
  width: 3.75rem;
  height: 3.75rem;
}
.containerSearch{
  margin: 0 ;
  justify-content: center;
  align-items: center;
}

.linkMap{
  margin: 0 .5rem 0 0;
  text-align: center;
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}
.btnSearch{
  border: none;
  background-color: transparent;
  margin: 0;
}
.containerSearch i{
  font-size: 1.7rem;
  color: var(--primary);
  display: block;
}
.containerSearch img{
  width: 1.875rem;
  height: 1.875rem;
}

.formSearch{

  background-color: #fff;
  align-items: center;
  border-bottom: 2px solid #0cb567;
}

.formSearch input,button{
  background-color: #fff;
  border:none;
  margin: 0 0 0 0;
}
.formSearch input{
  width: 90%;
}
.formSearch button{
  height: 100%;
  width: 15%;
  margin: .2rem;
  border: none
}
.formSearch button i{
  color: #6c757d;

}


.Userperfil{
  justify-content: center;
  align-items: center;
}

#dropdownMenuButtonPerfil{
  background-color: transparent;
  color:var(--primary);
  text-align: left;
  align-items: center;
}
.Userperfil i{
  color: var(--primary)ff;
  font-size: 1.5rem;
  margin: 0 5px 0 0;
}
.Userperfil p{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
}

#ola{
  font-weight: 700;
  font-size: 1rem;
}

.dropdown-menu{
  transform: translate(25px, 60px) !important;
  min-width: 8rem;
}
#menuHeader li a{
  color: #6c757d;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.cart-button {
 
  color: var(--primary);
  font-weight: bold;
  font-size: 1.8rem;
}
.cart-button:hover {
  color: var(--secondary);
}

.cart-button .visually{
  font-size: 1.2rem;
}

/* 
*
* layout mobile
*
*/

@media(max-width:575.98px){
  .containerSearch{
    width: 2.1rem;
  }
  .formSearch{
    display: none !important;
  }

  .menuMobile{
    color: var(--primary);
    width: 3.75rem;
    height: 3.75rem;
    align-items: center;
    display: flex !important;
  }
  .Userperfil{
    display: none !important;
  }
  .logoContainer{
    width: 10rem;
    margin: 0 9% !important;
  }
  .cart-button{
    margin-top: 0;
  }
}