.header-global {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background_light);
}
.ContainerUserAndCart {
  align-items: center;
}

.containerMenuMobile {
  display: none;
 
}
.containerSearch {
  width: 17.313rem;
  min-width: 17.313rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}


.btnSearch {
  border: none;
  background-color: transparent;
  margin: 0;
}
.containerSearch i {
  font-size: 1.7rem;
  color: var(--fontColorQueen);
  display: block;
}
.containerSearch img {
  width: 1.879rem;
  height: 1.879rem;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.formSearch {
  align-items: center;
}

.formSearch input,
button {
  background-color: #fff;
  border: none;
  margin: 0 0 0 0;
}
.formSearch input {
  width: 90%;
  font-size: 1rem;
  border-bottom: 2px solid #0cb567;

  transition: all 0.4s linear;
}
.formSearch input:focus {
  border-radius: 2px 25px 25px 2px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  outline: none;
  border-bottom: 2px solid #0cb567;
}
.formSearch button {
  background-color: transparent;
  height: 100%;
  width: 15%;
  margin: 0.2rem;
  border: none;
}
.formSearch button i {
  color: var(--fontColorQueen);
}

.logoContainer {
  width: 17.313rem;
  min-width: 17.313rem;
}

.ContainerUserAndCart {
  width: 17.313rem;
  min-width: 17.313rem;
  justify-content: flex-end;
}
.Userperfil {
  justify-content: center;
  align-items: center;
}

#dropdownMenuButtonPerfil {
  background-color: transparent;
  color: var(--fontColorQueen);
  text-align: left;
  align-items: center;
}

.Userperfil i,
.userLogado i,
.userLogado span {
  color: var(--fontColorQueen);
  font-size: 1.5rem;
  margin: 0 5px 0 0;
  line-height: 0;
}
.Userperfil p {
  color: var(--fontColorQueen);
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
}

#ola {
  font-weight: 700;
  font-size: 1rem;
}

.Userperfil > .dropdown-menu {
  transform: translate(0px, 60px) !important;
  min-width: 8rem;
}
.userLogado > .dropdown-menu {
  transform: translate(0px, 31px) !important;
}
#menuHeader li a {
  color: #6c757d;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
}

.cart-button {
  color: var(--fontColorQueen);
  font-weight: bold;
  font-size: 1.8rem;
}
.cart-button:hover {
  color: var(--fontColorQueen);
}

.cart-button .visually {
  font-size: 1.2rem;
}

/* 
*
* layout mobile
*
*/

@media (max-width: 575.98px) {
  .containerSearch {
     display: none !important;
  }
  .formSearch {
    display: none !important;
  }
  .containerMenuMobile{
    display: flex;
    height: 3.75rem;
    width: 4rem;
    min-width: 4;
    align-items: center;
    justify-content: flex-start;
  }
  .menuMobile {
    color: var(--fontColorQueen);
    margin-top: 0;
    align-items: center;
    display: flex !important;
    font-size: 1.7rem;
  }
  .Userperfil {
    display: none !important;
  }
  .logoContainer {
    width: 8rem !important;
    min-width: 8rem;
    margin: 0 9% !important;
  }
   .px-4 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .ContainerUserAndCart {
    width: 4rem;
    min-width: 4rem;
  }
  .containerSearch {
    min-width: 2.1rem !important ;
  }
  .cart-button {
    margin-top: 0;
  }
}

@media (min-width: 575.98px) and (max-width: 900px) {
  .containerSearch {
    display: none !important;
  }

  .containerMenuMobile {
    display: flex;
    height: 3.75rem;
    width: 8rem;
    align-items: center;
    justify-content: flex-start;
  }
  .menuMobile {
    color: var(--fontColorQueen);
    align-items: center;
    display: flex !important;
    font-size: 1.8rem;
  }
  .Userperfil {
    display: none !important;
  }
  .logoContainer {
    width: 8rem !important;
    min-width: 8rem;
  }
  .px-4 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .ContainerUserAndCart {
    width: 8rem;
    min-width: 3.438rem;
  }

  .cart-button {
    margin: 0;
  }
}
