.product {
     margin-bottom: 1rem;
    height: 23rem;
    max-height: 24rem;
}

.product .imgCard {
  position: relative;
  width: 100%;
  height: 13rem;
  max-height: 13rem;
  margin-bottom: .5rem;

}

.product img {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product img:hover{
  border: 1px solid #07ed39;
}
.prod_info{
  height: 5rem;  
  max-height: 5rem;
  width: 100%;
}
.product .badge {
  margin-bottom: 0;
  background-color: rgba(38, 184, 82, 0.1);
}
.product small {
      margin: .7rem 0rem;
  line-height: 15px;
  display: block;
}

.btnFooter{
  width: 100%;
  height: 2rem;
}
.product button {
  
  font-size: 1rem;
  padding: 1px 11px;
  border: none;
  max-width: 51%;
}

.product button.btn-secondary{
  padding: 1px 14px;
}

