.Menusidebar{
    background-color: var(--background_light);
    flex-direction: column;
    color: var(--fontColorGray);
    position: relative;

}
.perfilImgAndName{
    height: 10%;
    border-bottom: 2px solid var(--Queen);
    margin: 0;
}
.containerImgPerfil{
    width: 20%;
    height: 95%;
    background: #cecece;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
.containerImgPerfil i{
    font-size: 2rem;
}


.userInfo{
    width: 70%;
    align-items: center;
    justify-content: flex-start;
}

.userLogadoMobile small{
    font-size: 1.3rem;
}

.userLogadoMobile .dropdown-menu{
    min-width: 16rem;
    transform: translate3d(7px, 75px, 0px) !important;
}


.menuOptions{
    height: 90%;
}

.formSearchMobile{
    background-color: #f6f5f5;
    height: 10%;
}
.formSearchMobile input, .btn_Search{
    background-color: transparent;
    border: none;
}
.formSearchMobile input{
    width: 80%;
}
.btn_Search{
    width: 20%;
    height: 100%;
    font-size: 1.3rem;
    color: var(--fontColorQueen);
    align-items: center;
}

.categoriasMobile{
    margin: 1.1rem 0;
    padding-left: 0 !important;
}
.categoriasMobile h2{
    font-size: 1.2rem;
    color: var(--fontColorQueen);
    padding: 0 .7em;
    
}

.categoriasMobile li{
    font-weight: 600;
    color: #8e8d8d;
    padding: .4rem 1rem;
    border-bottom: 2px solid #f6f5f5;

}

.FormRastrear_pedidos{
    width: 100%;
    height: 17%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.FormRastrear_pedidos>input,
.FormRastrear_pedidos>button{
    height: 50% !important;
    border-radius: 0;
}
.FormRastrear_pedidos input::placeholder {
   text-align: center;
}

.FormRastrear_pedidos button{
    font-weight: 600;
}

